body{
    background-color: rgb(236, 243, 250);
}
.quiz-card{
    width: 50%;
}
.container{
    background-color: rgb(236, 243, 250);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}